body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height:925vh;
            background: linear-gradient(to bottom, #98d4ff, #ffffff, #7097e1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container {
            background-color: #e1ecf8;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            max-width: 600px;
            margin: 20px;
            text-align: center;
        }
        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        p {
            font-size: 1rem;
            color: #333;
            margin-bottom: 20px;
        }
        .authors {
            font-size: 1rem;
            color: #0d2fa8;
        }
        footer {
            background-color: #ffffff;
            color: #333;
            padding: 10px;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            border-top: 1px solid #ddd;
        }

body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f0f0f0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button-container {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
        }
        .button1 {
            padding: 20px 40px;
            font-size: 1.5rem;
            color: #fff;
            background-color: #075074;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
            text-decoration: none;
        }
        .button2 {
            padding: 20px 40px;
            font-size: 1.5rem;
            color: #fff;
            background-color: #8f6305;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
            text-decoration: none;
        }
        .button3 {
            padding: 20px 40px;
            font-size: 1.5rem;
            color: #fff;
            background-color: #1a8c44;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
            text-decoration: none;
        }
        .button4 {
            padding: 20px 40px;
            font-size: 1.5rem;
            color: #fff;
            background-color: #666363;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
        .info {
            display: none;
            background-color: #cde2f7;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            max-width: 800px;
            margin: 10px 0;
            text-align: justify;
        }
        .info.active {
            display: block;
        }
        .image-container {
            text-align: center; 
            margin: 20px 0; 
        }

h2{
  text-align: center;
}

.iframe-container {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
        }
        iframe {
            border: none; 
            width: 800px; 
            height: 500px; 
        }
.footer {
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            font-size: 14px;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
        }

.content {
         flex: 1; /* Hace que el contenido ocupe el espacio disponible */
        }


.intro {
    font-size: 18px;
    font-weight: bolder;
    color: #333;
}
.highlight {
    font-size: 20px;
    color: #e18f0b;
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 4px solid #ff4500;
    text-align: center;
}
.normal {
    font-size: 17px;
    color: #303030;
    line-height: 1.6;
    text-align: center;

}

.serif {
    font-family: 'Times New Roman', serif;
}
.sans-serif {
    font-family: 'Arial', sans-serif;
}

p.left {
    text-align: left;
}

p.center {
    text-align: center;
}

p.right {
    text-align: right;
}

li{
    text-align: center;
    font-size: 18px;
}
        

a {
    color: #3498db; /* Cambia el color del enlace */
    text-decoration: none; /* Elimina el subrayado */
    font-weight: bold; /* Hace que el texto sea más grueso */
}

a:hover {
    color: #2ecc71; /* Cambia el color al pasar el ratón */
    text-decoration: underline; /* Subraya el enlace al pasar el ratón */
}
